.card {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #36bd99;
}

.card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;


    @media (max-width: 1080px) {
        padding: 5px;
    }
}

.card-list>h1 {
    display: grid;
    grid-template-rows: 1fr auto;
    position: absolute;
    inset: 0;
    transform: translateX(10px);
    font-weight: bold;
    transition: all .2s;
    color: '#ff9100'


}
